body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
    display: flex;
    flex: 1;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    background-color: rgba(211,211,211,0.2);
    min-height: 650px;
}

